* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-align: left;

}

.promo {
  background: linear-gradient(to right, #000000 50%, #E5E5E5 50%);
}

.promo__container {
  background: linear-gradient(to right, #000000 461px, #E5E5E5 461px, #E5E5E5 100%);
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding-right: 52px;

}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: linear-gradient(to right, #000000 50%, #E5E5E5 50%);
  height: 92px;
  padding-left: 25px;
  right: 0;
  left: 0;
  z-index: 3;
}

.header__container {
  position: absolute;
  background: linear-gradient(to right, #000000 461px, #E5E5E5 461px, #E5E5E5 100%);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
}

.header__content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 409px;
  padding-top: 36px;
  padding-right: 24px;
}

.header__logo {
  text-decoration: none;
}

.header__logo_img--hiddden {
  display: none;
}

.header__button--menu {
  position: relative;
  width: 92px;
  height: 92px;
  background: url("./images/line.png") center center no-repeat;
  z-index: 1;
}

.header__button--menu::after {
  content: " ";
  position: absolute;
  background-color: rgba(0,0,0,0.05);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.promo__content {
  display: flex;
  padding: 170px 0 85px 52px;

}

.content__item--img {
  margin-left: 134px;
  margin-right: 54px;

}

.content__img--hidden {
  display: none;
}

.content__img {
  width: 549px;

}

.content__img--vector-mobile {
  display: none;
}

.social {
  display: flex;
  margin-left: 52px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 12px;
  width: 43px;
  height: 43px;
  margin-bottom: 41px;
}

.custom-select {
  align-self: flex-start;
  background: url("./images/vector.png") no-repeat right 50%;
  padding-right: 18px;
}

.custom-select select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  border: none;
  background: transparent;
  margin: 0;
  overflow: hidden;

}

.button {
  font-size: 13px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  background-color: #E5E5E5;
}

.content__actions {
  margin-top: 36px;
  display: flex;
  align-items: center;

}

.content__button {
  border: #000000 solid 2px;
  padding: 14px 41px;
  text-decoration: none;
  margin-right: 54px;
  flex-shrink: 0;
}

.link {
  font-size: 13px;
  text-decoration: none;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #000000;

}

.content__actions--link {
  display: flex;
  align-items: center;
  width: 100%;

}

.content__link {
  flex-shrink: 0;
  margin-right: 19px;
}

.content__vector {
  background: #000000;
  position: relative;
  width: 100%;
  height: 2px;
}

.content__vector::after {
  content: " ";
  position: absolute;
  background: url("./images/vector-small.png") center center no-repeat;
  right: 0;
  top: -5px;
  width: 44px;
  height: 12px;
}

.footer__scroll {
  position: absolute;
  background: url("./images/scroll.png") bottom center no-repeat;
  width: 27px;
  height: 46px;
  right: 710px;
  margin-top: -80px;

}

.footer__scroll::before {
  content: " ";
  position: absolute;
  background: url("./images/small-line.png") center center no-repeat;
  right: 0;
  left: 12px;
  bottom: 0;
  top: 11px;
  width: 3px;
  height: 7px;
}

.content__title {
  font-family: Montserrat;
  font-size: 80px;
  line-height: 82px;
  font-style: normal;
  font-weight: bold;
}

.product {
  min-height: 100vh;
}

.product__container {
  display: flex;
  justify-content: space-between;
  background-color: #FAE8E4;
}

.product__img-gray {
  position: relative;
  top: 161px;
  left: 71px;
  z-index: 1;

}

.product__img-rose {
  z-index: 2;
  position: relative;
  bottom: 408px;
  left: 159px;

}

.product__content {
  flex-shrink: 0;
  width: 488px;
  height: 556px;
  background-color: #FFFFFF;
  padding: 40px 65px 44px 55px;
  margin: 168px 73px 39px 66px;
}

.product__title {
  font-size: 40px;
  line-height: 41px;
}

.product__subtitle {
  color: rgba(0,0,0,0.5);
  letter-spacing: 7%;
}

.profile {
  display: flex;
  justify-content: space-between;

}

.profile__select {
  display: flex;
  margin-top: 10px;
  margin-bottom: 46px;
}

.select__item {
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 12px;
  transition-property: width,height;
  transition-duration: .5s;
}

.select__item--grey {
  background-color: #DEDEDE;
}

.select__item--pink {
  background-color: #F29F9F;
  -webkit-transition: width 2s, height 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 2s;
}

.select__item--blue {
  background-color: #A8BFF9;
}

.select__item--green {
  background-color: #90BD8F;
}

.select__item--pink:hover {
  width: 38px;
  height: 38px;
}

input[type=radio] {
  opacity: 0;
}

.product__price {
  font-family: Montserrat;
  font-style: bold;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  text-align: left;
  color: #000000;
}

.product__counter {
  display: flex;
  align-items: center;

}

.button__counter {
  background-color: #FFFFFF;
  padding: 14px 41px;
  border: #000000 solid 2px;
  flex-shrink: 0;

}

.counter__container {
  border: #000000 solid 2px;

}

.counter__container input[type=text] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #FFFFFF;
  border: none;
  margin: 0;
  overflow: hidden;

}

.product__action {
  display: flex;
  align-items: center;

}

.product__link {
  flex-shrink: 0;
}

.content__vector {
  background: #000000;
  position: relative;
  width: 100%;
  height: 2px;
}

.content__vector::after {
  content: " ";
  position: absolute;
  background: url("./images/vector-small.png") center center no-repeat;
  right: 0;
  top: -5px;
  width: 44px;
  height: 12px;
}
@media screen and (max-width: 480px) {
  .promo {
    background: none;

  }

  .promo__container {
    padding-right: 0;
    background: none;

  }

  .header {
    height: 70px;
    padding: 0;

  }

  .header__container {
    display: none;

  }

  .header__content {
    background-color: #FFFFFF;
    padding: 0 0 0 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

  .header__logo {
    text-decoration: none;
    padding-right: 0;

  }

  .header__logo_img {
    display: none;
  }

  .header__logo_img--hidden {
    display: inline-block;
    vertical-align: middle;
  }

  .header__button--menu {
    width: 70px;
    height: 70px;

  }

  .promo__content {
    flex-direction: column;
    padding: 70px 0 0;

  }

  .content__img {
    display: none;

  }

  .content__img--hidden {
    width: 100%;
    height: calc(100vh - 70px);
    vertical-align: middle;
    overflow: cover;

  }

  .content__item {
    width: 100%;
    margin: 0 auto;

  }

  .custom-select {
    display: none;
  }

  .content__title {
    position: absolute;
    font-size: 50px;
    line-height: 51px;
    text-align: left;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

  }

  .content__img--vector-mobile {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

  }

  .description {
    display: none;
  }

  .footer {
    display: none;
  }

  .content__actions {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .content__title {
    font-size: 60px;
    line-height: 61px;
    text-align: left;

  }

}
@media screen and (max-width: 1200px) {
  .promo__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

  }

  .promo__content {
    flex-direction: column;
    align-items: center;

  }

  .content__item {
    margin: 0 auto;
    width: 549px;

  }

  .content__item--img {
    margin-bottom: 40px;
  }

  .content__title {
    color: #E5E5E5;
    mix-blend-mode: difference;
    font-size: 80px;
    line-height: 81px;
    text-align: left;

  }

  .description {
    color: #E5E5E5;
    mix-blend-mode: difference;

  }

  .content__vector {
    display: none;
  }

  .content__link {
    color: #E5E5E5;
    mix-blend-mode: difference;
  }
}
@media screen and (max-width: 768px) {
  .promo {
    background: none;

  }

  .promo__container {
    background: #E5E5E5;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding-right: 0;

  }

  .header {
    height: 70px;
    padding: 0;

  }

  .header__container {
    display: none;

  }

  .header__content {
    background-color: #FFFFFF;
    padding: 0 0 0 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

  }

  .header__logo {
    text-decoration: none;
    padding-right: 0;

  }

  .header__logo_img {
    display: none;
  }

  .header__logo_img--hidden {
    display: inline-block;
    vertical-align: middle;
  }

  .header__button--menu {
    width: 70px;
    height: 70px;

  }

  .promo__content {
    flex-direction: column;
    align-items: center;
    margin-left: 0;

  }

  .promo__content {
    flex-direction: column;
    padding: 70px 0 0;

  }

  .content__img {
    display: none;

  }

  .content__img--hidden {
    display: inline-block;
    width: 100%;
    overflow: cover;
    height: calc(100vh - 70px);
    vertical-align: middle;

  }

  .content__item {
    width: 100%;
    margin: 0 auto;

  }

  .custom-select {
    display: none;
  }

  .content__title {
    font-size: 50px;
    line-height: 51px;
    text-align: left;

  }

  .content__vector {
    display: none;
  }

  .footer__scroll {
    display: none;
  }

  .social {
    margin: 20px 0 0;
  }

}
